.jumbotron{
    margin-top: 10px;
    border-radius: 15px;
    
    background-image: url("https://image.winudf.com/v2/image1/Y29tLnZtLmFuZHJvaWQubGl2ZXdlYXRoZXIuYWVnbDJfc2NyZWVuXzhfMTU2MTU4OTgzNF8wNTU/screen-8.jpg?fakeurl=1&type=.jpg");
}

#searchHistory{
    border-color: blueviolet;
}

.favorable{
    background-color: green;
}

.moderate{
    background-color: yellow;
}

.severe{
    background-color: red;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.block {
    width: 100px;
}

#searchHistory {
    margin-left: 25px;
}